@charset "UTF-8";

.header {
  max-width: 1600px;
  margin: auto;
}

.header-first {
  display: flex;
  list-style: none;
  margin: 15px;
}

.header-logo-font {
  margin-right: auto;
}

.header-links {
  align-self: center;
}

.header-link-list {
  display: flex;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}

.header-link-list li {
  margin-right: 40px;
}

.header-link-button {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  color: #0044;
  border: solid 2px #0044;
  border-radius: 3px;
  transition: 0.4s;
}

.header-link-button:hover {
  background: #67c5ff;
  color: white;
}

.logo-img-size {
  width: 100px;
  height: 100px;
}

.logo-font-size {
  padding-top: 25px;
  width: 300px;
  height: 300px;
}

.content {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gyudon-photo-size {
  max-width: 100%;
  max-height: 100%;
}

.catch-copy1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.catch-copy2 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.content-button {
  display: flex;
  justify-content: center;
}

.product-link-button {
  padding: 10px 50px;
  text-decoration: none;
  color: white;
  border: solid 2px #ff4f02;
  background: #ff4f02;
  border-radius: 3px;
  transition: 0.4s;
}

.product-link-button:hover {
  background: white;
  color: #ff4f02;
}

.footer-div {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
  background-color: #ffdbc9;
}
